<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Germandbls</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>Iacute</key>
    <dict>
      <key>Icircumflex</key>
      <integer>150</integer>
    </dict>
    <key>Icircumflex</key>
    <dict>
      <key>Idieresis</key>
      <integer>150</integer>
    </dict>
    <key>Idieresis</key>
    <dict>
      <key>Idotaccent</key>
      <integer>100</integer>
    </dict>
    <key>Idotaccent</key>
    <dict>
      <key>Igrave</key>
      <integer>100</integer>
    </dict>
    <key>Igrave</key>
    <dict>
      <key>Imacron</key>
      <integer>100</integer>
    </dict>
    <key>Imacron</key>
    <dict>
      <key>Iogonek</key>
      <integer>50</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>50</integer>
      <key>public.kern2.h</key>
      <integer>110</integer>
      <key>public.kern2.n</key>
      <integer>70</integer>
      <key>public.kern2.t</key>
      <integer>120</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>120</integer>
    </dict>
    <key>g.ss01</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>150</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>l.ss01</key>
    <dict>
      <key>l.ss01</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-65</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-140</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-210</integer>
      <key>public.kern2.W</key>
      <integer>-150</integer>
      <key>public.kern2.Y</key>
      <integer>-180</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.one</key>
      <integer>-80</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-120</integer>
      <key>public.kern2.x</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>g.ss01</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.lslash</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.w</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>periodcentered</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.V</key>
      <integer>-150</integer>
      <key>public.kern2.W</key>
      <integer>-130</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-55</integer>
      <key>public.kern2.W</key>
      <integer>-45</integer>
      <key>public.kern2.X</key>
      <integer>-55</integer>
      <key>public.kern2.Y</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-130</integer>
      <key>public.kern2.J</key>
      <integer>-150</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-210</integer>
      <key>public.kern2.J</key>
      <integer>-150</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-70</integer>
      <key>public.kern2.lslash</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-180</integer>
      <key>public.kern2.J</key>
      <integer>-150</integer>
      <key>public.kern2.O</key>
      <integer>-58</integer>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>q</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.eth</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.eight</key>
      <integer>0</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-20</integer>
      <key>public.kern2.two</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>180</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>odieresis</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-65</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.lslash</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.nine</key>
    <dict>
      <key>public.kern2.nine</key>
      <integer>-20</integer>
      <key>public.kern2.three</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-18</integer>
      <key>public.kern2.x</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.one</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>35</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.y</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.four</key>
      <integer>-120</integer>
      <key>public.kern2.nine</key>
      <integer>-20</integer>
      <key>public.kern2.six</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-15</integer>
      <key>public.kern2.nine</key>
      <integer>-50</integer>
      <key>public.kern2.one</key>
      <integer>-30</integer>
      <key>public.kern2.seven</key>
      <integer>-20</integer>
      <key>public.kern2.three</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.slash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>g.ss01</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>g.ss01</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.lslash</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.three</key>
      <integer>-20</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>200</integer>
    </dict>
  </dict>
</plist>
