<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dcaron</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>100</integer>
      <key>public.kern2.h</key>
      <integer>300</integer>
      <key>public.kern2.t</key>
      <integer>180</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>190</integer>
    </dict>
    <key>g.ss01</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>150</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>public.kern2.h</key>
      <integer>220</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-65</integer>
      <key>public.kern2.T</key>
      <integer>-170</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-230</integer>
      <key>public.kern2.W</key>
      <integer>-150</integer>
      <key>public.kern2.Y</key>
      <integer>-200</integer>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-120</integer>
      <key>public.kern2.w</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-120</integer>
      <key>public.kern2.S</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.y</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
      <key>public.kern2.W</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.X</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-170</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-230</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-160</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>200</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-90</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.w</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-50</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
